@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
}

p,span,a,li{
    font-family: 'Poppins', sans-serif;
}



.homecards .card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px!important;
}

.homecards .card img{
    height: 250px;
    object-fit: cover;
}

.slidercolumn{
    width: 50%;
    margin-left: 100px;
}
.slider-one_heading {
    line-height: 65px;
}

.sec-title_heading {
    color: #A6D054;
}




/* Turn talk into action and steadily grow your portfolio along with our community. */


.turntalk{
    background: black;
    padding: 40px 0;
}
.turntalkleft{
    padding-top: 20px;
}
.turnlefthead:hover{
    cursor: pointer;
}
.turntalk h1{
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: 300;
}

.turntalkleft{
    color: white;
}

.turnleftcontent{
    display: none;
    margin-top: 20px;
    line-height: 2.2;
    font-size: 18px;
    font-weight: 400;
    word-spacing: 2px;
}
.turnleftcontent.active{
    display: block;
}
.turnlefthead{
    margin-bottom: 25px;
}

.turntalkrightimgage img{
    width: 550px;
}


/* Find Companies and Moves Suitable for  Your Investment Profile */



.findcompanies{
    padding: 100px 0;
    background: #D4F1FC;

}
.findcompanieshead p{
    font-size: 25px;
    margin-bottom: 10px;
}
.findcompanieshead h2{
    font-size: 25px;
   
}
.findcomponiestwoparts h2{

}
.findcomponiestwoparts p{
    margin-top: 20px;
    line-height: 2.2;
    font-size: 18px;
    font-weight: 400;
    word-spacing: 2px;
}

.myboximage img{
    width: 300px;
    max-width: 100%;
}





/* Stock Resources  */

.stockresourcecard{
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.stockresourcecard img{
    border-radius: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.stocksourceshead{
    background-color: #2EAAA6;
    padding-top: 20px;
    padding-bottom: 20px;
   
}
.stocksourceshead h2{
     color: white;
     margin-top: 0;
}





/* -------------------------------------Front Dashboard--------------------------------------- */


.myportfolio,.myfavourite,.marketoverview{
    font-size: 16px;
}

.myfavourite{
    border: 1px solid rgba(0, 0, 0, 0.363);
    padding: 5px 6px;
    margin-top: 10px;
    
}

.blankborderdiv{
    border: 1px solid rgba(0, 0, 0, 0.363);
    padding: 15px 6px;
}

.marketoverview{
    border: 1px solid rgba(0, 0, 0, 0.363);
    padding: 5px 6px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.dashboardtabshead ul{
    display: flex;
}

.dashboardtabshead ul li{
    margin-left: 5px;
    margin-right: 5px;
   
    padding: 4px 8px;
    border-radius: 8px;
}
.dashboardtabshead ul li.active{
    background-color: #801281;
    color: white;
   
}

.dashboardlists{
    padding: 30px 10px 30px 20px;
}

.dashboardlists h4{
font-size: 14px;
}
.dashboardlists h6{
font-size: 12px;
}

.myupdate,.myfavouritecenter{
    font-size: 16px;
    margin-bottom: 10px;
}
.followstocks h4{
    font-size: 18px;
}

.followstocks{
    border-radius: 10px;
    padding: 40px 20px;
    background-color: #1B222D;
    color: white;
}
.followstockleft h4{
font-size: 14px;
color: #6EC1C7;
}

.followstockleft h6{
    font-size: 12px;
    color: #7A797B;
}
.followstockright button{
    background-color: transparent;
    padding: 5px 7px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
}

.followstockright button:hover{
    background: #801281;

}

.marketperformancerow{
    position: relative;
}
.marketperformancerow input {
    border: 1px solid rgba(0, 0, 0, 0.541);
    border-radius: 15px;
    padding: 10px 10px;

}
.marketperformancerow button{
    position: absolute;
    width: auto;
    right: -7px;
    border-radius: 15px;
    top: 10%;
}




/* right top  */


.righttopdashboardtabshead ul{
    display: flex;
}

.righttopdashboardtabshead ul li{
    margin-left: 5px;
    margin-right: 5px;
   
    padding: 4px 8px;
    border-radius: 8px;
}
.righttopdashboardtabshead ul li.active{
    background-color: #801281;
    color: white;
   
}





/* Right Bottom  */




.rightbottomdashboardtabshead ul{
    display: flex;
}

.rightbottomdashboardtabshead ul li{
    margin-left: 5px;
    margin-right: 5px;
   
    padding: 4px 8px;
    border-radius: 8px;
}
.rightbottomdashboardtabshead ul li.active{
    background-color: #801281;
    color: white;
   
}